* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  padding: .5em;
  line-height: 1.25;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #222;
    color: #fff;
  }
}

a {
  color: currentColor;
  text-decoration: none;
}

ul {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  list-style: none;
}

ul > li {
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.bookmarklet {
  display: block;
  transform: rotate(0);
  transition: transform .1s ease-out;
  white-space: nowrap;
}

.bookmarklet:focus,
.bookmarklet:hover {
  transform: rotate(-2deg);
}

.bookmarklet:active {
  cursor: move;
}

.icon {
  display: inline-block;
  width: 1.25em;
  position: relative;
  top: 0.075em;
}
